<!DOCTYPE html>
<html lang="en">

<!-- ###### HEAD ####### -->
<%- include("head") %>

<body>
    <!-- ###### NAV BAR ####### -->
    <%- include("nav") %>

    <!-- ###### MAIN ####### -->
    <main>
        <%- include("banner") %>

        <div class="container">
            <p id="userName" hidden><%= userName%></p>
            <p id="homeStation" hidden><%= homeStation%></p>
            <p id="awayStation" hidden><%= awayStation%></p>
            <h5 class="loggedIn"></h5>

            <div class="row pnt0">
                <section id="point0"></section>
            </div>

            <div class="row pnt1">
                <section id="point1"></section>
            </div>

            <div class="row pnt2">
                <section id="point2"></section>
            </div>

            <div class="row pnt3">
                <section id="point3"></section>
            </div>

            <div class="row pnt4">
                <section id="point4"></section>
            </div>

        </div>
    </main>

    <!-- ###### FOOTER ####### -->
    <%- include("footer") %>

    <!-- ###### JAVASCRIPT SCRIPTS ####### -->
    <script type="text/javascript" src="js/init.js"></script>
    <script type="text/javascript" src="js/helperFunctions-1.js"></script>
    <script type="text/javascript" src="js/data.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>
<!-- Copyright David Shin 2016
All Rights Reserved -->
